/*
 |--------------------------------------------------------------------------
 | .visually-hidden
 |--------------------------------------------------------------------------
 */

.visually-hidden:not(:focus):not(:active) {
  @include visually-hidden(false);
}
