/*
 |--------------------------------------------------------------------------
 | Overlay
 |--------------------------------------------------------------------------
 */

.overlay {
  position: fixed;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.5);
  z-index: 250;

  visibility: hidden;

  opacity: 0;
  transition: all 0.3s e('out-cubic');

  &--show {
    opacity: 1;
    visibility: visible;
  }
}
