/*
 |--------------------------------------------------------------------------
 |  List inline
 |--------------------------------------------------------------------------
 */

.o-listInline {
  margin-left: 0;
  list-style: none;
}

.o-listInline__item {
  display: inline-block;
}

$mw-list-inline-delimiter: ',\00A0' !default;

.o-listInline--delimited {
  font-size: 0;

  > .o-listInline__item {
    font-size: ms(0);
  }

  > .o-listInline__item + .o-listInline__item {
    &::before {
      content: ''#{$mw-list-inline-delimiter}'';
    }
  }
}
