// ==========================================================================
//   Visually Hidden
// ==========================================================================

@mixin vh($extend: true) {
  @if $extend {
    @extend %visuallyhidden;
  }
  @else {
    position: absolute !important;
    height: 1px !important;
    width: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    clip-path: inset(50%) !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    overflow: hidden !important;
  }
}

// Placeholder Class
%visuallyhidden {
  @include vh(false);
}
