// ==========================================================================
//   Colors
// ==========================================================================

@function color($key, $tone: base) {
  @if map-has-key($mw-colors, $key) {
    $getTone: map-get(map-get($mw-colors, $key), $tone);

    @if ($getTone !=null) {
      @return map-get(map-get($mw-colors, $key), $tone);
    }

    @else {
      @warn "'#{$tone}' is not a valid tone in: '#{$key}'";
      @return null;
    }
  }

  @warn "'#{$key}' is not a valid color in: '$mw-colors'";
  @return null;
}

// Shorthand Version
@function co($key, $tone: base) {
  @return color($key, $tone);
}
