/*
 |--------------------------------------------------------------------------
 |  Settings
 |--------------------------------------------------------------------------
 */

@import 'settings.borderradius';
@import 'settings.boxshadows';
@import 'settings.breakpoints';
@import 'settings.colors';
@import 'settings.easings';
@import 'settings.fontsizes';
