/*
 |--------------------------------------------------------------------------
 | Flip In & Out
 |--------------------------------------------------------------------------
 */

@keyframes openSpace {
  to {
    max-height: 400px;
  }
}

@keyframes closeSpace {
  to {
    max-height: 0px;
  }

  from {
    max-height: 400px;
  }
}

@keyframes FlipIn {
  0% {
    transform: perspective(500px) rotateX(90deg);
    opacity: 0;
  }

  100% {
    transform: perspective(500px) rotateX(0deg);
    opacity: 1;
  }
}

@keyframes FlipOut {
  0% {
    transform: perspective(600px) rotateX(0deg);
    opacity: 1;
  }

  100% {
    transform: perspective(600px) rotateX(90deg);
    opacity: 0;
  }
}
