/*
 |--------------------------------------------------------------------------
 |  Pagination
 |--------------------------------------------------------------------------
 */

.m-pagination {
  @include make-vr();

  &__inner {
    width: 100%;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__link {
    background-color: transparent;
    color: co('black', '80');
    line-height: 38px;
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    border-radius: 300px;
    flex: 0 0 40px;


    &:hover {
      background: co('black', '80');
      color: co('white');
    }

    &--current {
      background: co('black', '80');
      color: co('white');
    }
  }
}
