input {
  display: inline-block;
  vertical-align: top;

  height: 44px;

  padding: em(9px, 16) em(15px, 16);

  font-family: $ff;
  font-size: rem(16px);
  line-height: em(24px, 16);
  font-weight: 700;
  color: c('black');

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 3px;
  background-color: #fff;
  outline: 0;

  &:focus+label {
    display: block;
    color: #5b9ddf;
  }

  &:valid+label {
    display: block;
  }

  &:hover {
    border: 2px solid rgba(154, 154, 154, 0.52);
  }

  &:focus {
    border: 2px solid rgba(46, 136, 228, 0.52);
  }

  &:hover,
  &:focus {
    transition: all 0.1s ease('out-cubic');
  }

  &:focus::placeholder {
    font-size: 0;
  }

  &::placeholder {
    color: #999;
    font-family: $ff;
    font-size: rem(14px);
    font-weight: 400;
  }
}
