/*
 |--------------------------------------------------------------------------
 |  Page
 |--------------------------------------------------------------------------
 */
body {
  .js &.no-hover > * {
    pointer-events: none;
  }

  .js &.is-open--navigation {
    height: 100vh;
    overflow: hidden;
  }
}
