{# layout.twig #}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include '../parts/_site-header.twig' %}
  </head>
  <body>
    {% block page %}{% endblock %}
    {% include '../parts/_site-scripts.twig' %}
  </body>
</html>
